ul {
  list-style: none;
}

.commentContainer{
  text-align: center;
}

.textInput {
  width: 70%;
  height: 50px;
}

.btn {
  font-size: 25px;
  background-color: #6298ef;
  color: white;

  text-align: center;
}

.fa-arrow-alt-circle-right {

}

.note {
  background: red;
  cursor: pointer;
  color: blue;
  transition: transform .2s ease;
}

.delNote {
  width: 30px;
  height: 30px;
  background-color: #6298ef;
  color: white;
}

#list {
  color: black;
  font-weight: 700;
  font-family: 'Jura', sans-serif;
  margin-left:  14%;
  margin-right: 14%;
  margin-top: 5px;
  text-align: left;
  width: inherit;
  list-style: none;
}
